/* ====== GENERAL ====== */

::-webkit-input-placeholder {
   color: #9B9B9B;
}

:-moz-placeholder { /* Firefox 18- */
   color: #9B9B9B;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #9B9B9B;  
}

:-ms-input-placeholder {  
   color: #9B9B9B;  
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400; 
	font-style: normal;
	color: #4A4A4A;
	background: #302A2C;
}

img {
	max-width: 100%;
}

/* ====== HEADER ====== */


.header {
	background: #000;
	color: #fff;
	height: 95px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
/*	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	z-index: 100;*/
}

.logo {
	font-weight: 600;
	font-style: italic;
	color: #FFFFFF;
	font-size: 3.5em;
	text-align: center;
	padding-top: 35px;
}

.logo a:link {
    text-decoration: none;
    color: #FFFFFF;
}

.logo a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.logo a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.logo a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.content {
	height: calc(100vh - 190px);  /* 95 + 95 */
	margin-top: 95px; /* height of header */
	overflow: auto;
/*	position: relative;*/
}

.add-album .content {
	background: #eee;
}

/* ====== CATEGORIES ====== */


.categories a {
	display: block;
	width: 50%;
	height: calc((100vh - 190px) / 3); /* 95 + 95 */
	float: left;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.categories a div {
	margin: 0 auto;
	text-align: center;
}

.categories a span:first-child {
	background: center bottom no-repeat;
	display:block;
	padding-top: 150px;
}

.categories a span:last-child {
	display: block;
	padding-top: 1em;
	font-size: 1.4em;
	letter-spacing: .15em;
}

/* ====== CATEGORY BACKGROUND ====== */


.cat-album div span:first-child, .cat-single div span:first-child {
	background-image: url(../images/vinyl.png);
}
.cat-album { background: #B10000; }
.cat-album:hover { background-color: #810303; }
.cat-single { background: #DB3E3E; }
.cat-single:hover { background-color: #C23B3B;}

.cat-cdalbum div span:first-child, .cat-cdsingle div span:first-child {
	background-image: url(../images/cd.png);
}
.cat-cdalbum { background: #2C607C;}
.cat-cdalbum:hover { background-color: #265067;}
.cat-cdsingle { background: #6591AD;}
.cat-cdsingle:hover { background-color: #5A839D;}

.cat-dvd { background: #C15703 } 
.cat-dvd div span:first-child { background-image: url(../images/dvd.png); }
.cat-dvd:hover {background-color: #A24903;}
.cat-mc { background: #C27538; }
.cat-mc div span:first-child { background-image: url(../images/mc.png); }
.cat-mc:hover { background-color: #A6642F; }


/* ====== BOTTOM NAVIGATION ====== */


.bottom-nav {
	position: fixed;
	bottom: 0;
	height: 95px;
	width: 100%;
	background: #463E41;
	-moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.50);
	box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.50);
}

ol {
	margin: 0;
	padding: 0;
}

.item-list-icon a,
.add-item-icon a,
.search-icon a {
    display: inline-block;
	width: 33.33%;
	float: left;
	height: 0;
	padding-top: 95px;
	overflow: hidden;
}

.item-list-icon a {
	background: url('../images/item-list-icon.png') no-repeat center center;
}

.add-item-icon a {
	background: url('../images/add-item-icon.png') no-repeat center center;
}

.search-icon a {
	background: url('../images/search-icon.png') no-repeat center center;
}

.item-list-icon a:hover {
	background-image: url('../images/item-list-icon-green.png');
}

.add-item-icon a:hover {
	background-image: url('../images/add-item-icon-green.png');
}

.search-icon a:hover {
	background-image: url('../images/search-icon-green.png');
}


/* ====== ZERO STATE ====== */


.empty .content {
	background: #585154;
}

.empty-text {
	font-size: 3em;
	text-align: center;
	letter-spacing: .02em;
	color: #FFFFFF;
	font-style: italic;
	margin-top: 5em;
	margin-bottom: 1em;
}

.start-filling-button {
	position: absolute;
	left: 50%;
	margin: 0 0 0 -6em;
	border: 0;
	border-radius: 2px;
	background: #009688;
	font-family: "Alegreya Sans";
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 1px;
	color: #FFFFFF;
	padding: 13px 18px 13px 18px;
}

img[src*="close-icon.png"] {
	position: absolute;
	right: 12px;
	top: 12px;
}

/* ====== ADD ALBUM FORM ====== */


.add-album-form {
	padding-left: 3em;
	padding-top: 5.5em;
	padding-right: 3em;
}

.red-add-bar {
	height: 40px;
	background-color: #B10000;
	position: fixed;
	width: 100%;
}

.red-add-bar p {
	color: #fff;
	font-size: 1em;
	letter-spacing: .15em;
	padding-top: .8em;
	text-align: center;
	text-transform: uppercase;
}

fieldset {
	display: block;
    border: 0;
}

input[type=text] {
  	background: none;
  	font-family: AlegreyaSans-Regular;
	font-size: 1.2em;
	letter-spacing: .3px;
  	border: none;
  	border-bottom: solid 1px #ccc;
  	margin-bottom: 3em;
  	width: 100%;
}

input[type=text]:focus {
	border-bottom: solid 1px #009688;
	outline: none;
}

input[type=text].cat-no {
	margin-bottom: 2em;
}

label {
	font-family: AlegreyaSans-Regular;
	font-size: 1.2em;
	color: #9B9B9B;
	letter-spacing: .3px;
	text-transform: none;
}

select[name=release-years] {
	font-size: 16px;
	border: 0;
	font-family: AlegreyaSans-Regular;
	margin-right: 3em;
}

select[name=formats]{
	font-size: 16px;
	border: 0;
	font-family: AlegreyaSans-Regular;
	margin-right: 3em;
}

small {
	font-size: .8em;
}

input[type=radio] {
	margin-top: 1.7em;
}

textarea {
	width: 100%;
	border: none;
  	border-bottom: solid 1px #ccc;
  	background: none;
  	font-family: AlegreyaSans-Regular;
	font-size: 1em;
  	margin-bottom: 2em;
}

textarea:focus {
	border-bottom: solid 1px #009688;
	outline: none;
}

.add-album-art {  /* text */
	text-align: center;
	padding-top: 7em;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: 1.1px;
	line-height: 1.2em;
	width: 15em;
	height: 15em;
	background: url(../images/album-art.png) center no-repeat;
	display: block;
	margin: 0 auto;
}

.add-album-art:link {
    text-decoration: none;
    color: #009688;
}

.add-album-art:visited {
    text-decoration: none;
    color: #009688;
}

.add-album-art:hover {
    text-decoration: none;
    color: #009688;
}

.add-album-art:active {
    text-decoration: none;
    color: #009688;
}

.add-album-button {
	border: 0;
	border-radius: 2px;
	background: #009688;
	font-family: "Alegreya Sans";
	font-weight: 400;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: 1.1px;
	margin-top: 4em;
	margin-bottom: 1em;
	color: #FFFFFF;
	padding: 13px 20px 13px 20px;
}

.add-album-button:hover {
    background: #128176;
}

/* ====== VIEW ALL ITEMS ====== */

.item {
	display: inline-block;
	width: 50%;
	float: left;
	position: relative;
	line-height: 0;
}

.item img {
	width: 100%;
}

/* ====== ITEM HOVER ====== */

.meta-info {
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	opacity: 0;
}

.item:hover .meta-info {
	display: block;
	opacity: 1;
}

.meta-info-header {
	text-align: center;
	padding-top: 6em;
	padding-bottom: 2em;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: 1.1px;
	line-height: 1em;
	width: 100%;
	height: 2em;
	background: url(../images/vinyl-sm.png) 50% 30% no-repeat;
	display: block;
	color: #fff;
	background-color: rgba(177, 0, 0, .7);
}

.meta-info a:link {
    text-decoration: none;
    color: #fff;
}

.meta-info a:visited {
    text-decoration: none;
    color: #fff;
}

.meta-info a:hover {
    text-decoration: none;
    color: #fff;
}

.meta-info a:active {
    text-decoration: none;
    color: #fff;
}
 
.meta-info h1, p {
	text-align: center;
	padding-top: 1em;
	height: 1.5em;
	color: #fff;
}

.meta-info h1 {
	text-transform: uppercase;
	font-size: 125%;
	letter-spacing: 1.1px;
}

.meta-info p {
	font-weight: 300;
	letter-spacing: 1px;
}

.view-detail-button {
	border: 0;
	border-radius: 2px;
	background: #009688;
	font-family: "Alegreya Sans";
	font-weight: 400;
	text-transform: uppercase;
	font-size: .7em;
	letter-spacing: 1px;
	color: #FFFFFF;
	padding: 6px 13px 6px 13px;
	margin-top: 1.5em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.view-detail-button:hover {
    background: #128176;
}

/* ====== ITEM DETAIL ====== */

.view-item-detail .content {
	background: #eee;
}

.view-item-detail img {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1.7em;
}

.left-labels {
	display: block;
	width: 20%;
	float: left;
}

.right-values {
	display: block;
	width: 80%;
	float: right;
}

h4 {
	font-family: AlegreyaSans-Medium;
	font-size: .8em;
	color: #B0B0B0;
	text-transform: uppercase;
	padding-left: 4em;
	margin-bottom: 1.8em;
}

h3 {
	display: block;
	text-align: left;
	color: #4A4A4A;
	padding-left: 3em;
	margin-bottom: 1.25em;
}

h3:last-child {
	line-height: 1.2em;
}

.bottom-buttons {
	clear:both;
}

.edit-album-button, .delete-album-button {
	border: 0;
	border-radius: 2px;
	font-family: "Alegreya Sans";
	font-weight: 400;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: 1.1px;
	margin-left: 2em;
	color: #FFFFFF;
	margin-bottom: .75em;
}

.edit-album-button {
	background: #009688;
	margin-top: 2em;
	padding: 13px 22px 13px 22px;
}

.edit-album-button:hover {
    background: #128176;
}

 .delete-album-button {
	background: #C13333;
	padding: 13px 20px 13px 20px;
}

.delete-album-button:hover {
    background: #810303;
}