::-webkit-input-placeholder {
   color: ##9B9B9B;
}

:-moz-placeholder { /* Firefox 18- */
   color: ##9B9B9B;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: ##9B9B9B;  
}

:-ms-input-placeholder {  
   color: ##9B9B9B;  
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	margin: 0;
	height: auto;
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400; 
	font-style: normal;
	color: #4A4A4A;
}

/* ====== ENTIRE APP ====== */

.container {
	max-width: 600px;
	margin: 0 auto;
}

/* ====== HEADER ====== */

.header {
	position: relative;
	height: 80px;
	background: #000000;
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	padding-top: 3%; 
	z-index: 100;
}

.logo {
	font-weight: 600;
	font-style: italic;
	color: #FFFFFF;
	font-size: 3.5em;
	text-align: center;
}

/* ====== ITEM BOXES ====== */

.content {
	max-width: 100%;
}

p {
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	color: #FFFFFF;
}

img[src*="vinyl.png"],
img[src*="dvd.png"],
img[src*="cd.png"],
img[src*="mc.png"] {
	padding: 0% 30% 0% 30%;
}

.album,
.cd-album,
.dvd,
.single,
.cd-single,
.dvd,
.mc {
	float: left;
	width: 50%;
	height: 13.5em;
	padding-top: 2em;
}

.album {
	background: #B10000;
}

.album:hover {
   	background-color:#810303;
 }

.cd-album {
	background: #2C607C;
}

.cd-album:hover {
	background-color: #265067;
}

.dvd {
	background: #C15703;
}

.dvd:hover {
	background-color: #A24903;
}

.single {
	background: #DB3E3E;
}

.single:hover {
	background-color: #C23B3B;
}

.cd-single {
	background: #6591AD;
}

.cd-single:hover {
	background-color: #5A839D;
}

.mc {
	background: #C27538;
}

.mc:hover {
	background-color: #A6642F;
}

/* ====== BOTTOM NAVIGATION ====== */

.bottom-nav {
	height: 95px;
	width: 100%;
	background: #463E41;
	-moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.50);
	box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.50);
	clear: both;
}

ol {
	margin: 0;
	padding: 0;
}

.item-list-icon, 
.add-item-icon, 
.search-icon {
    display: inline-block;
    list-style-type: none;
	width: 33%;
}

.item-list-icon a,
.add-item-icon a,
.search-icon a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	padding: 38px 0;
	text-indent: 100%;
}

.item-list-icon a {
	background: url('../images/item-list-icon.png') no-repeat center center;
}

.add-item-icon a {
	background: url('../images/add-item-icon.png') no-repeat center center;
}

.search-icon a {
	background: url('../images/search-icon.png') no-repeat center center;
}

.item-list-icon a:hover {
	background-image: url('../images/item-list-icon-green.png');
}

.add-item-icon a:hover {
	background-image: url('../images/add-item-icon-green.png');
}

.search-icon a:hover {
	background-image: url('../images/search-icon-green.png');
}

/* ====== EMPTY CONTAINER ====== */

.content-empty {
	max-width: 600px;
	margin: 0 auto;
}

.top-left,
.top-right,
.middle-left,
.middle-right,
.bottom-left,
.bottom-right {
	background: #5A5053;
  	float: left;
	width: 50%;
	height: 13.5em;
	padding-top: 2em;
}

/* ====== EMPTY MODAL ====== */

.content-empty-modal {
	position: absolute;
	left: 50%;
	margin: 8em 0 0 -12.5em;
	width: 25em;
	height: 15em;
	border-radius: 2px;
	background: #EEEEEE;
	-moz-box-shadow: 0px 15px 12px 0px rgba(0,0,0,0.22), 0px 19px 38px 0px rgba(0,0,0,0.30);
	box-shadow: 0px 15px 12px 0px rgba(0,0,0,0.22), 0px 19px 38px 0px rgba(0,0,0,0.30);
}

.empty-text {
	font-size: 2.5em;
	text-align: center;
	color: #000000;
	font-style: italic;
	margin-top: 1.65em;
	margin-bottom: .4em;
}

.content-empty-modal button {
	position: absolute;
	left: 50%;
	margin: 0 0 0 -6em;
	border: 0;
	border-radius: 2px;
	background: #009688;
	font-family: "Alegreya Sans";
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 1px;
	color: #FFFFFF;
	padding: 13px 17px 13px 17px;
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.22), 0px 2px 2px 0px rgba(0,0,0,0.30);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.22), 0px 2px 2px 0px rgba(0,0,0,0.30);
}

img[src*="close-icon.png"] {
	position: absolute;
	right: 12px;
	top: 12px;
}

/* ====== ADD ALBUM BACKGROUND ====== */

/*.content-bg {
	overflow: scroll;
}*/

.top-left-bg,
.top-right-bg,
.middle-left-bg,
.middle-right-bg,
.bottom-left-bg,
.bottom-right-bg {
	background: #EEEEEE;
  	float: left;
	width: 50%;
	height: 13.5em;
	padding-top: 2em;
}

/* ====== ADD ALBUM FORM ====== */

.add-album-form {
	position:absolute;
	padding: 3em;
}

input[type=text] {
  	background: none;
  	font-family: AlegreyaSans-Regular;
	font-size: 1em;
	color: #9B9B9B;
	letter-spacing: .3px;
  	border: none;
  	border-bottom: solid 1px #ccc;
  	padding-bottom: 5px;
  	margin-bottom: 3em;
  	width: 100%;
}

input[type=text]:focus {
	border-bottom: solid 1px #009688;
	outline: none;
	color: #4A4A4A;
}

.add-album-form p {
	font-family: AlegreyaSans-Regular;
	font-size: 1em;
	color: #9B9B9B;
	letter-spacing: .3px;
	text-transform: none;
}
